NEO4J_URI=neo4j://localhost
NEO4J_USER=neo4j
NEO4J_PASSWORD=password

GROQ_API_KEY=fdfafdsffds
GROQ_LLM_API_KEY=fadfdsfafsfda
LLM_API_KEY=fdafdfdfda

MODEL="llama-3.1-8b-instant"

GLOBAL_OPERATIONAL_THRESHOLD=5